Uitleveren/Leveringsinformatie/LeveringsInfo-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (http://www.altova.com) by Kadaster (Kadaster) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:levi="http://www.kadaster.nl/schemas/klic/20080722/leveringsinfo" xmlns:levs="http://www.kadaster.nl/schemas/20080722/levinfo" xmlns:gml="http://www.opengis.net/gml" targetNamespace="http://www.kadaster.nl/schemas/klic/20080722/leveringsinfo" elementFormDefault="qualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>Versie  : 2.0
Datum :  06-07-2016
N.a.v. ondersteuning IMKL2015-features 
</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1./base/gml.xsd"/>
	<xsd:import namespace="http://www.kadaster.nl/schemas/20080722/levinfo" schemaLocation="LeveringsInfoSimpleTypes-2.0.xsd"/>
	<xsd:element name="Leveringsinformatie" type="levi:LeveringsinformatieType">
		<xsd:annotation>
			<xsd:documentation>Leveringsinformatie t.b.v. Klic-viewers.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LeveringsinformatieType">
		<xsd:annotation>
			<xsd:documentation>(Meta)gegevens van de geleverde informatie t.b.v. Klic-viewers.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Version" type="levs:VersionNumberType">
				<xsd:annotation>
					<xsd:documentation>Versie van het interface waarmee de leveringsinformatie wordt beschreven</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Aanvraag" type="levi:AanvraagType">
				<xsd:annotation>
					<xsd:documentation>Enkele kenmerkende gegevens van de gebiedsinformatie-aanvraag.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Leveringsvolgnummer" type="levs:LeveringsVolgnummerType">
				<xsd:annotation>
					<xsd:documentation>Volgnummer van de levering (binnen de aanvraag). Indfien de aanvraag in meerdere keren wordt opgeleverd (bijv. omdat 1 of meer netbeheerders te laat leveren) wordt dit nummer steeds opgehoogd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndicatieLeveringCompleet" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Indicator die aangeeft of de levering compleet is (dus, of alle netbeheerders al hebben geleverd).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Leveringsbrief" type="levi:PdfBestandType">
				<xsd:annotation>
					<xsd:documentation>Opgemaakte leveringsbrief met een beschrijving van en toelichting op de geleverde producten.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ondergrondkaarten" type="levi:OndergrondkaartType" minOccurs="0" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>Een lijst met door Kadaster aangeleverde ondergrondkaart(en) in png-formaat (grootschalige (plan)topografie).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GebundeldeNetinformatie" type="levi:XmlBestandType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Xml-bestand waarbij alle door de netbeheerders volgens IMKL2015 aangeleverde netinformatie is gebundeld.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NetbeheerderLeveringen" type="levi:NetbeheerderLeveringType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Een lijst met door belanghebbende netbeheerders aangeleverde beheerdersinformatie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AanvraagType">
		<xsd:annotation>
			<xsd:documentation>Set van gegevens inzake de gebiedsinformatie-aanvraag.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Klicnummer" type="levs:KlicnummerType">
				<xsd:annotation>
					<xsd:documentation>Klic-meldnummer, de logische identificatie van de Klic-melding zoals deze binnen de graafsector bekend is.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ordernummer" type="levs:OrdernummerType">
				<xsd:annotation>
					<xsd:documentation>Ordernummer van de verkooporder waaronder de aanvraag binnen KLIC bekend is.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Positienummer" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Het regelnummer van de verkooporder waaronder de aanvraag binnen KLIC bekend is.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RelatienummerAanvrager" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Het unieke klantnummer waaronder de aanvrager (grondroerder) binnen het Kadaster geregistreerd staat.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Meldingsoort" type="levs:MeldingsoortType">
				<xsd:annotation>
					<xsd:documentation>Soort aanvraag: graafmelding, orientatieverzoek of een calamiteitenmelding</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatumTijdAanvraag" type="levs:DatumTijdType">
				<xsd:annotation>
					<xsd:documentation>Datum en tijdstip waarop de gebiedsinformatie-aanvraag door de aanvrager bij KLIC is aangeboden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KlantReferentie" type="levs:KlantReferentieType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Eigen referentie die de klant aan de aanvraag heeft gegeven.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gebiedspolygoon" type="gml:PolygonType">
				<xsd:annotation>
					<xsd:documentation>Polygoon dit het gebied aanduidt waarvoor netinformatie wordt gevraagd, omdat er (mogelijk in de toekomst) gegraven gaat worden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Informatiepolygoon" type="gml:PolygonType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Polygoon dit het ruimere gebied aanduidt waarvoor aanvullende netinformatie wordt gevraagd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GeselecteerdGebiedKaart" type="levi:PngBestandType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Kaart met het geselecteerde gebied waarvoor netinformatie wordt gevraagd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Pngformaat" type="levi:PngFormaatType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Geeft het formaat aan waaraan de geleverde png-bestanden moeten voldoen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ontvangstbevestiging" type="levi:PdfBestandType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>De ontvangstbevestiging, zoals deze oorspronkelijk is opgesteld voor de aanvraag.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NetbeheerderLeveringType">
		<xsd:annotation>
			<xsd:documentation>Gegevens van één netbeheerder welke meegeleverd worden in de leveringsinformatie.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Netbeheerder" type="levi:NetbeheerderType">
				<xsd:annotation>
					<xsd:documentation>Stamgegevens van de netbeheerder. Sommige contactgegevens zijn in IMKL2015 niet meer beschikbaar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BetrokkenBijAanvraag" type="levs:BetrokkenBijAanvraagType">
				<xsd:annotation>
					<xsd:documentation>Indicatie die aangeeft of de netbeheerder binnen de gevraagde polygoon kabel- of leidinginformatie heeft.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Netinformatie" type="levi:XmlBestandType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Xml-bestand van de door de netbeheerder volgens IMKL2015 aangeleverde netinformatie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Themas" type="levi:LeveringThemaType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Alle door de netbeheerder bij een thema aangeleverde beheerdersinformatie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Bijlagen" type="levi:AlgemeneBijlageType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Algemene bijlagen van de netbeheerder</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ondergrondkaarten" type="levi:OndergrondkaartType" minOccurs="0" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>[Klic5] Kaarten met eigen topografie van de netbeheerder in png-formaat (EigenTopo, PlanTopo).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--		<xsd:element name="EigenTopo" type="levi:PngBestandType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>[Klic5] Kaart met eigen topografie van de netbeheerder.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlanTopo" type="levi:PngBestandType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>[Klic5] Kaart met eigen plantopografie van de netbeheerder</xsd:documentation>
				</xsd:annotation>
			</xsd:element> -->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NetbeheerderType">
		<xsd:annotation>
			<xsd:documentation>Stamgegevens van een netbeheerder.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Bronhoudercode" type="levs:BronhoudercodeType">
				<xsd:annotation>
					<xsd:documentation>Bronhoudercode van de netbeheerder.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RelatienummerNetbeheerder" type="levs:RelatienummerType">
				<xsd:annotation>
					<xsd:documentation>Unieke identificatie van de netbeheerder als zakenrelatie van het Kadaster.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Bedrijfsnaam" type="levs:NaamType">
				<xsd:annotation>
					<xsd:documentation>Bedrijfsnaam van de netbeheerder (uit Relatiebeheer).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BedrijfsnaamAfkorting" type="levs:NaamType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>[Klic5] Afkorting van de naam van de netbeheerder zoals gebruikt in de naamgeving van de thema- bestanden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Contact" type="levi:ContactType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>[Klic5] Contactpersoon van de netbeheerder afkomstig uit de beheerdersinformatie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Contactpersoon" type="levi:ContactpersoonType">
				<xsd:annotation>
					<xsd:documentation>Contactpersoon van de netbeheerder afkomstig uit Relatiebeheer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Storingsnummer" type="levs:TelefoonType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>[Klic5] Algemeen storingsnummer van de netbeheerder dan wel een bepaalde groep van netbeheerders. 
(* Alleen verplicht voor beheerders van buisleidingen met gevaarlijke inhoud)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Beschadigingsnummer" type="levs:TelefoonType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>[Klic5] Nummer van de netbeheerder dat gebeld moet worden indien er sprake is van schade, zonder dat de levering is onderbroken (Bijv. alleen mantel stuk)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactpersoonType">
		<xsd:annotation>
			<xsd:documentation>Contactpersoon van de netbeheerder.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Naam" type="levs:NaamType">
				<xsd:annotation>
					<xsd:documentation>Naam van de contactpersoon van de netbeheerder.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Telefoon" type="levs:TelefoonType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Telefoon van de contactpersoon van de netbeheerder.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Email" type="levs:EmailType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>E-mailadres van de contactpersoon van de netbeheerder.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Fax" type="levs:TelefoonType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Faxnummer van de contactpersoon van de netbeheerder.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactType">
		<xsd:annotation>
			<xsd:documentation>Contact van de netbeheerder</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Naam" type="levs:NaamType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Naam van het contact</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Telefoon" type="levs:TelefoonType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Telefoonnummer van het contact</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Email" type="levs:EmailType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>E-mailadres van het contact</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LeveringThemaType">
		<xsd:annotation>
			<xsd:documentation>Door een netbeheerder geleverde informatie voor een thema</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Thema" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Thema van de door de netbeheerder geleverde informatie (IMKL2015)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Themanaam" type="levs:ThemaNaamType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>[Klic5] Themanaam (zie enumeratie) van de door de netbeheerder geleverde informatie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Toezichthouders" type="levi:ContactType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>[Klic5] Lijst van toezichthouders van de netbeheerder voor dit thema.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EisVoorzorgmaatregel" type="levs:EisVoorzorgmaatregelType">
				<xsd:annotation>
					<xsd:documentation>Indicator die aangeeft of er een eis/voorzorgmaatregel bij dit thema is gevoegd</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ligging" type="levi:PngBestandType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>[Klic5]</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Maatvoering" type="levi:PngBestandType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>[Klic5]</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Annotatie" type="levi:PngBestandType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>[Klic5]</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--			<xsd:element name="Detailkaarten" type="levi:DetailkaartenType" minOccurs="0"/> -->
			<!--			<xsd:element name="Huisaansluitschetsen" type="levi:HuisaansluitschetsbestandenType" minOccurs="0"/> -->
			<xsd:element name="ThemaBijlagen" type="levi:ThemaBijlageType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Themabijlagen van de netbeheerder</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="XmlBestandType">
		<xsd:sequence>
			<xsd:element name="Bestandsnaam" type="levs:BestandsnaamType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PdfBestandType">
		<xsd:sequence>
			<xsd:element name="Bestandsnaam" type="levs:BestandsnaamType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PngBestandType">
		<xsd:annotation>
			<xsd:documentation>[Klic5]</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Bestandsnaam" type="levs:BestandsnaamType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AlgemeneBijlageType">
		<xsd:annotation>
			<xsd:documentation>Door een netbeheerder aangeleverde algemene bijlage.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SoortBijlage" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Soort algemene bijlage (bijv. BL, algemeen, nietBetrokken).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Bijlage" type="levi:PdfBestandType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ThemaBijlageType">
		<xsd:annotation>
			<xsd:documentation>Door een netbeheerder aangeleverde themagebonden bijlage (ExtraDetailInfo of eisVoorzorgsmaatregel).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SoortThemaBijlage" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Soort thema bijlage (bijv. HA/DK/TB/EV, huisaansluiting, aansluiting, profielschets, verzoekTotContact, overig, eisVoorzorgsmaatregel).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Adres" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Adresaanduiding bij huisaansluiting</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Bijlage" type="levi:PdfBestandType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OndergrondkaartType">
		<xsd:annotation>
			<xsd:documentation>Ondergrondkaart met grootschalige topografie (bestaand of plan) in png-formaat.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SoortOndergrondkaart" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Soort ondergrondkaart (Kadaster: bgtBestaand/bgtPlan; netbeheerder: eigenTopoBestaand/eigenTopoPlan).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ondergrondkaart" type="levi:PngBestandType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PngFormaatType">
		<xsd:annotation>
			<xsd:documentation>Wordt gebruikt om richting netbeheerder aan te geven wat het preciese forrmaat van het kaartmateriaal moet zijn dat hij gaat leveren</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OmsluitendeRechthoek" type="gml:BoundingShapeType">
				<xsd:annotation>
					<xsd:documentation>Rechthoek (GML definitie) die de getekende polygoon omsluit. Bepaalt het gebied waarover de png-kaarten moeten worden geleverd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PixelsBreed" type="levs:AantalPixelsType">
				<xsd:annotation>
					<xsd:documentation>Geeft de breedte (in pixels) aan van de op te leveren png kaarten.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PixelsHoog" type="levs:AantalPixelsType">
				<xsd:annotation>
					<xsd:documentation>Geeft de hoogte (in pixels) aan van de op te leveren png kaarten.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
