Actualiseren/Voorzorgsmaatregelen/KlicVoorzorgsmaatregelenBeheer-0.91.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (x64) (http://www.altova.com) by Kadaster (Kadaster) -->
<!--
<schema 
	xmlns="http://www.kadaster.nl/schemas/klic/20170801/voorzorgsmaatregelen" 
	targetNamespace="http://www.kadaster.nl/schemas/klic/20170801/voorzorgsmaatregelen"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="0.91">
-->
<xsd:schema xmlns="http://www.kadaster.nl/schemas/klic/20170801/voorzorgsmaatregelen" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://www.kadaster.nl/schemas/klic/20170801/voorzorgsmaatregelen" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.91">
	<xsd:annotation>
		<xsd:documentation>[0.91] 30-10-2017 -------------------------------------------------------------------------------------------------------------------------------
Versie			: 0.91
Datum			: 30-10-2017
Door				: Kadaster 
Toelichting	:
Dit schema definieert de set aan gegevens die door een bronhouder (netbeheerder) moet worden aangeleverd om gebruik te kunnen maken van de EV-module uit de centrale voorziening van KLIC-WIN.
Naast de gegevens voor het beslissingsmodel - welke maatregelen moeten bij welke factoren worden toegepast? - moeten bij de maatregel gerefereerde documentsjablonen worden meegeleverd.
De definities en terminologie van de gebruikte elementen is zoveel mogelijk in overeenstemming gebracht met de modellering van IMKL1.2 (voorheen IMKL2015).
Voor het gebruik van waarden uit waardelijsten die ook in IMKL worden gebruikt, moet de referentie naar de betreffende waarde uit de extern gepubliceerde waardelijst worden toegepast.
Voorbeelden van deze waardelijsten: 
	http://definities.geostandaarden.nl/imkl2015/id/waarde/AaanvraagSoort
	http://definities.geostandaarden.nl/imkl2015/id/waarde/BestandMediaTypeValue
	http://definities.geostandaarden.nl/imkl2015/id/waarde/SoortWerkzaamhedenValue
	http://definities.geostandaarden.nl/imkl2015/id/waarde/Thema
-----------------------------------------------------------------------------------------------------------------------------------------------
</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/1999/xlink.xsd"/>
	<xsd:element name="VoorzorgsmaatregelenBeheer" type="VoorzorgsmaatregelenBeheerType">
		<xsd:annotation>
			<xsd:documentation>Het door een bronhouder beheren van aanduidingen en beslissingsregels voor bepaling van eis voorzorgsmaatregelen.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VoorzorgsmaatregelenBeheerType">
		<xsd:annotation>
			<xsd:documentation>Definitie van het koppelvlak voor het beheren van aanduidingen en beslissingsregels voor bepaling van eis voorzorgsmaatregelen.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="versie" type="VersienummerType">
				<xsd:annotation>
					<xsd:documentation>Versie van het interface waarmee het koppelvlak wordt beschreven</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bronhoudercode" type="BronhoudercodeType">
				<xsd:annotation>
					<xsd:documentation>Unieke code van de bronhouder (netbeheerder) waarvoor voorzorgs-maatregelen worden beheerd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bronhouderNaam" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Naam van de bronhouder (netbeheerder) waarvoor voorzorgsmaatregelen worden beheerd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documentSjabloon" type="DocumentSjabloonType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Lijst van documentsjablonen waarmee eis voorzorgsmaatregel bijlagen kunnen worden opgesteld.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="utiliteitsnetAanduiding" type="UtiliteitsnetAanduidingType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Lijst van aanduidingen die aan een net(element) kunnen worden gegeven voor bepaling van voorzorgsmaatregelen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="werkzaamhedenAanduiding" type="WerkzaamhedenAanduidingType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Lijst van aanduidingen die een netbeheerder aan soorten werkzaamheden geeft voor bepaling van voorzorgsmaatregelen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="voorzorgsmaatregelBeslissingsregel" type="VoorzorgsmaatregelBeslissingsregelType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Lijst van beslissingsregels waarmee op basis van diverse factoren de te hanteren voorzorgsmaatregelen kunnen worden bepaald.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="voorzorgsmaatregelToelichting" type="VoorzorgsmaatregelToelichtingType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Toelichtende documentatie betreffende door de aanvrager te nemen voorzorgsmaatregelen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentSjabloonType">
		<xsd:annotation>
			<xsd:documentation>Documentsjabloon op basis waarvan een voorzorgsmaatregel bijlage kan worden opgesteld.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sjabloonID" type="SjabloonIDType">
				<xsd:annotation>
					<xsd:documentation>Identificatie van het documentsjabloon.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bestandMediaType" type="WaardelijstWaardeRefType">
				<xsd:annotation>
					<xsd:documentation>Media type van een bestand (conform IMKL1.2, waardelijst: BestandMediaTypeValue).</xsd:documentation>
					<xsd:appinfo>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">BestandMediaTypeValue</targetCodeList>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bestandsnaam" type="BestandsnaamType">
				<xsd:annotation>
					<xsd:documentation>Naam (eventueel met locatie) van het aangeleverde bestand.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UtiliteitsnetAanduidingType">
		<xsd:annotation>
			<xsd:documentation>Aanduiding die een netbeheerder aan een net(element) kan geven voor bepaling van voorzorgsmaatregelen.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="thema" type="WaardelijstWaardeRefType">
				<xsd:annotation>
					<xsd:documentation>Aanduiding van het type en de functie van een kabel of leiding (conform IMKL1.2, waardelijst: Thema).</xsd:documentation>
					<xsd:appinfo>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">Thema</targetCodeList>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="netbeheerderNetAanduiding" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Aanduiding van het risico dat aan een utiliteitsnet of netelement gegeven wordt ten behoeve van de bepaling of en welke voorzorgsmaatregelen getroffen dienen te worden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="netbeheerderNetOmschrijving" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Omschrijving bij een risico aanduiding van een utiliteitsnet of netelement, op basis waarvan mogelijk voorzorgsmaatregelen getroffen worden bij het uitvoeren van werkzaamheden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WerkzaamhedenAanduidingType">
		<xsd:annotation>
			<xsd:documentation>Aanduiding die een netbeheerder aan soorten werkzaamheden geeft voor bepaling van voorzorgsmaatregelen.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="soortWerkzaamheden" type="WaardelijstWaardeRefType">
				<xsd:annotation>
					<xsd:documentation>Soort werkzaamheden die bij een gebiedsinformatie-aanvraag is opgegeven (conform IMKL1.2, waardelijst: SoortWerkzaamhedenValue).</xsd:documentation>
					<xsd:appinfo>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">SoortWerkzaamhedenValue</targetCodeList>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="netbeheerderWerkAanduiding" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Aanduiding van het risico dat aan de soort werkzaamheden gegeven wordt ten behoeve van de bepaling of en welke eisen voorzorgsmaatregelen getroffen dienen te worden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VoorzorgsmaatregelBeslissingsregelType">
		<xsd:annotation>
			<xsd:documentation>Beslissingsregel waarmee door de netbeheerder op basis van diverse factoren een prioriteit aan een voorzorgsmaatregel wordt gegeven.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="thema" type="WaardelijstWaardeRefType">
				<xsd:annotation>
					<xsd:documentation>Aanduiding van het type en de functie van een kabel of leiding (conform IMKL1.2, waardelijst: Thema).</xsd:documentation>
					<xsd:appinfo>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">Thema</targetCodeList>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="netbeheerderNetAanduiding" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Aanduiding van het risico dat aan een utiliteitsnet of netelement gegeven wordt ten behoeve van de bepaling of en welke voorzorgsmaatregelen getroffen dienen te worden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aanvraagSoort" type="WaardelijstWaardeRefType">
				<xsd:annotation>
					<xsd:documentation>Soort gebiedsinformatie-aanvraag (conform IMKL1.2, waardelijst: AanvraagSoortValue).</xsd:documentation>
					<xsd:appinfo>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">AanvraagSoortValue</targetCodeList>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="netbeheerderWerkAanduiding" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Aanduiding van het risico dat aan de soort werkzaamheden gegeven wordt ten behoeve van de bepaling of en welke eisen voorzorgsmaatregelen getroffen dienen te worden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maatregel" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Soort voorzorgsmaatregel dat wordt vereist in geval werkzaamheden aan het netwerk worden uitgevoerd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maatregelPrioriteit" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>De prioriteit die aan de bepaalde voorzorgsmaatregel wordt gegeven.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VoorzorgsmaatregelToelichtingType">
		<xsd:annotation>
			<xsd:documentation>Toelichtende documentatie betreffende een door de aanvrager te nemen voorzorgsmaatregel.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="maatregel" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Soort voorzorgsmaatregel dat wordt vereist in geval werkzaamheden aan het netwerk worden uitgevoerd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="toelichting" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Toelichting op de soort voorzorgsmaatregel dat wordt vereist in geval werkzaamheden aan het netwerk uitgevoerd moeten worden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sjabloonID" type="SjabloonIDType">
				<xsd:annotation>
					<xsd:documentation>Identificatie van het sjabloon welke gebruikt wordt om een document op te stellen als bijlage bij een te treffen voorzorgsmaatregel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--_____________________________ Basis-elementen _____________________________-->
	<xsd:complexType name="SjabloonIDType">
		<xsd:annotation>
			<xsd:documentation>Identificatie van een document-sjabloon voor toepassing als voorzorgsmaatregelbijlage.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="namespace">
				<xsd:annotation>
					<xsd:documentation>Unieke verwijzing naar een registratie van objecten binnen de context van NEN3610 (i.c. "nl.imkl").
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="nl.imkl"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="lokaalID">
				<xsd:annotation>
					<xsd:documentation>Identificatiecode die een object (i.c. een document-sjabloon) heeft binnen een (lokale) registratie.				
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
						<xsd:pattern value="[A-Za-z0-9_.,-]+"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WaardelijstWaardeRefType">
		<xsd:annotation>
			<xsd:documentation>Generieke definitie van een referentie naar een waarde uit een IMKL-waardelijst. In IMKL1.2 bijv. "http://definities.geostandaarden.nl/imkl2015/id/waarde/{waardelijst}/{waarde}"</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute ref="xlink:href" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="VersienummerType">
		<xsd:annotation>
			<xsd:documentation>Bekende versies voor dit interface.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0.91"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BronhoudercodeType">
		<xsd:annotation>
			<xsd:documentation>Bronhoudercode van de beheerder (IMKL1.2). De code bestaat uit zes alfanumerieke posities. Dit is afgestemd met het format van CBS codes voor gemeenten en provincies.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="6"/>
			<xsd:pattern value="[A-Za-z0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BestandsnaamType">
		<xsd:annotation>
			<xsd:documentation>Naam van een bestand (eventueel met extensie/locatie).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
</xsd:schema>
